{% extends 'base.html' %}

{% block title %}Thato's Website{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-Code/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-Code/loading.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-Code/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-Code/navbarhome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-Code/footer.css') }}">
{% endblock %}

{% block content %}
  <main>
    <section id="home">
      <div class="first-half">
        <div class="aboutimage">
          <img src="{{ url_for('static', filename='Images/Formal.jpg') }}" alt="Picture of Zuma" class="aboutIMG">

          <a href="{{ url_for('static', filename='Documents/T. Motlhamme CV.pdf') }}" target="_blank">
            <div class="resume">Click For Resume</div>
          </a>
        </div>
        <div class="aboutTopText">
          The true sign of intelligence is not knowledge but <span>imagination!</span>
        </div>
      </div>
      <div class="second-half">
        <div class="aboutMe">A Bit About Me</div>
        <div class="aboutAbout">
          <span class="greeting">Hey There!</span><span class="lebitso">I'm Thatohatsi Motlhamme</span>
          A Mechatronics Engineering graduate from the University of Cape Town, passionate about integrating mechanical, electrical, and computer engineering for innovative solutions. <br> <br>With skills in programming languages, electronics, and 3D design, I seek new challenges and industry experience to drive technological advancements. I'm eager to tackle complex projects that contribute to future-shaping initiatives in technology and engineering.
        </div>
      </div>
    </section>
  </main>
{% endblock %}
